a:link  {
  color: #ff0000;
}

a:visited  {
  color: #00ff00;
}

a:hover  {
  color: #fff300;
}

.list  {
  background-color: #6292A8;
}

header  {
  color: #641683;
  background-color: #E1E367;
}

main  {
  color: #205621;
}

footer  {
  color: #210D00;
  background-color: #A7BD80;
}

#CVA  {
  color: #ffffff;
  background-color: #000000;
}

.spoof  {
  color: #000000;
  background-color: #ACB2A1;
}

#Emphasis  {
  color: #293B19;
  background-color: #6BA7BB;
}

.chart  {
  background-color: #5B0505;
  color: #BEFFDB;
}
