a:link  {
  color: #ff0000;
}

a:visited  {
  color: #00ff00;
}

a:hover  {
  color: #fff300;
}

nav  {
  background-color: #6292A8;
}

header  {
  color: #ffb600;
  background-color: #E1E367;
  font-style: italic;
  font-weight: normal;
}

main  {
  color: #205621;
}

footer  {
  color: #210D00;
  background-color: #A7BD80;
}

#CVA  {
  color: #ffffff;
  background-color: #000000;
}

.spoof  {
  color: #000000;
  background-color: #ACB2A1;
}

#Emphasis  {
  color: #293B19;
  background-color: #6BA7BB;
}

.chart  {
  background-color: #5B0505;
  color: #BEFFDB;
}

body {
  font-family: sans-serif, Arial, Helvetica;
  background-image: url(dark.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.CTprogram {
  text-align: center;
}

.prop {
  text-align: justify;
}

.imgbox {
  border: 10px solid #000000;
  padding: 10px;
  background-color: #ffffff;
}
